strong, em {
    color: #1f487c;
}
h1, h2, h3, h4 {
    color: #036;
    font-weight: 600;
}
h2 {
    font-size: 1.75rem;
}
h2.policies {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 9px;
}
.course-outline-header p,
.syllabus-header p {
    padding: 0;
    margin: 0;
}
table.with-borders,
.ezrichtext-field table {
    width: 100% !important;
    margin: 15px 0;
}
table.with-borders tr,
.ezrichtext-field table tbody tr {
    border: 1px solid;
}
table.with-borders th,
table.with-borders td,
.ezrichtext-field table tbody tr th,
.ezrichtext-field table tbody tr td {
    border: 1px solid;
    padding: 3px;
}
