@media print {
    .no-print {
        display: none;
    }
    @page {
        margin: .75in;
        size: 8.5in 11in;
    }
    html {
        font-size: 12pt;
    }
    body { 

    }
    a {
        text-decoration: none !important;
        color: #000;
    }
    .course-outline,
    .course-calendar {
        break-before: always !important;
        page-break-before: always !important;
    }
    .course-outline {
        font-size: 8pt;
        break-after: always !important;
        page-break-after: always !important;
    }
    .sf-toolbar {
        display: none !important;
    }
    .sf-minitoolbar {
        display: none !important;
    }
}
